# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.* 
!.env.example

# Build outputs
dist/
build/

# Next.js
.next/
out/

# NestJS
coverage/

# Prisma
prisma/migrations/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.pem